
        <a href='/books''>Back to  Book List</a>

        <h1>About <%=books.title%></h1>
        
        <hr/>

        <div class='row'>
            <div class='col-md-4'>
                <img  class='book-image' src='/images/<%=books.coverpageUrl%>' />
            </div>
            <div class='aboutbook col-md-8'>
                <%=books.Aboutbook%>
            </div>
        
        </div>
    