<h1>Add Book</h1>
    
    <form method='post' >
        <label for="bname" class='field-label'>Book Name</label>
        <input type='text' name='bname' id='bname' class='form-field' placeholder="bookname" /> 

        <label for="sumary" class='field-label'>Book sumary</label>
        <input type='text' name='sumary' id='sumary' class='form-field' placeholder="Summary" /> 

        <label for="aname" class='field-label'>Author Name</label>
        <input type='text' name='aname' id='aname' class='form-field' placeholder="Authorname" /> 

        <label for="price" class='field-label'>Price</label>
        <input type='text' name='price' id='price' class='form-field' placeholder="Price" /> 

        <input type='submit' value='Add Book' class='btn btn-primary' />


    </form>
